* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  background: linear-gradient(45deg, #844fff, #ffd363);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 20px;
  border: 3px solid black;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

.poiter {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #000000;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.hand {
  --rotation: 0;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
  border-radius: 5px 5px 0 0;
  z-index: 10;
}
.hand.seconds {
  width: 3px;
  height: 45%;
  background-color: red;
  z-index: 15;
}

.hand.minutes {
  width: 8px;
  height: 40%;
  background-color: black;
  border: 1px solid white;
  z-index: 14;
}
.hand.hours {
  width: 10px;
  height: 30%;
  background-color: black;
  z-index: 13;
}

.number {
  --rotation: 0;
  font-size: 1.8em;
  font-weight: 600;
  /* background-color: #844fff; */
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  transform: rotate(var(--rotation));
  position: absolute;
}

.number.number-1 {
  --rotation: 30deg;
}
.number.number-2 {
  --rotation: 60deg;
}
.number.number-3 {
  --rotation: 90deg;
}
.number.number-4 {
  --rotation: 120deg;
}
.number.number-5 {
  --rotation: 150deg;
}
.number.number-6 {
  --rotation: 180deg;
}
.number.number-7 {
  --rotation: 210deg;
}
.number.number-8 {
  --rotation: 240deg;
}
.number.number-9 {
  --rotation: 270deg;
}
.number.number-10 {
  --rotation: 300deg;
}
.number.number-11 {
  --rotation: 330deg;
}
